In [53]:
import sys
sys.path.append('../')

In [54]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import time
import pandas as pd
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager
import src.cleaning_functions as fc
import requests
from bs4 import BeautifulSoup

In [13]:
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)

opciones.headless=False    

opciones.add_argument('--start-maximized')       

opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies

#opciones.add_extension('driver_folder/adblock.crx')       # adblocker

opciones.add_argument('--incognito')              # incognito

In [14]:
# download the driver 
driver = webdriver.Chrome(ChromeDriverManager().install(), options = opciones)

# set the url
url2 = "https://www2.hm.com/es_es/mujer/novedades/calzado-y-accesorios.html"

# request the url
driver.get(url2)

driver.implicitly_wait(15) # is like a time.sleep but specific of selenium

driver.find_element_by_css_selector("#onetrust-accept-btn-handler").click()
producto = []
precio = []

driver.find_element_by_css_selector("#page-content > div > div:nth-child(4) > div.load-more-products > button").click()
driver.implicitly_wait(20)
driver.find_element_by_css_selector("#page-content > div > div:nth-child(4) > div.load-more-products > button").click()
driver.implicitly_wait(20)
driver.find_element_by_css_selector("#page-content > div > div:nth-child(4) > div.load-more-products > button").click()
driver.implicitly_wait(20)

for i in range(1,129):
        precio.append(driver.find_element_by_css_selector(f"#page-content > div > div:nth-child(4) > ul > li:nth-child({i}) > article > div.item-details > strong > span").text)
        producto.append(driver.find_element_by_css_selector(f"#page-content > div > div:nth-child(4) > ul > li:nth-child({i}) > article > div.item-details > h3 > a").text)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [/Users/danielaarias/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache
<ipython-input-14-676912f8f31f>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install(), options = opciones)
<ipython-input-14-676912f8f31f>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector("#onetrust-accept-btn-handler").click()
<ipython-input-14-676912f8f31f>:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector("#page-content > div > div:nth-child(4) > div.load-more-products > button").click()
<ipython-input-14-676912f8f31f>:18: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector("#page-content > div > div:nth-child(4) > div.load-more-products > button").click()
<ipython-input-14-676912f8f31f>:20: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector("#page-content > div > div:nth-child(4) > div.load-more-products > button").click()
<ipython-input-14-676912f8f31f>:24: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  precio.append(driver.find_element_by_css_selector(f"#page-content > div > div:nth-child(4) > ul > li:nth-child({i}) > article > div.item-details > strong > span").text)
<ipython-input-14-676912f8f31f>:25: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  producto.append(driver.find_element_by_css_selector(f"#page-content > div > div:nth-child(4) > ul > li:nth-child({i}) > article > div.item-details > h3 > a").text)

In [87]:
print(precio)

['14,99 €', '49,99 €', '9,99 €', '59,99 €', '59,99 €', '29,99 €', '39,99 €', '14,99 €', '39,99 €', '89,99 €', '89,99 €', '34,99 €', '19,99 €', '9,99 €', '9,99 €', '34,99 €', '9,99 €', '9,99 €', '19,99 €', '5,99 €', '29,99 €', '19,99 €', '39,99 €', '24,99 €', '34,99 €', '34,99 €', '19,99 €', '89,99 €', '44,99 €', '9,99 €', '14,99 €', '9,99 €', '39,99 €', '14,99 €', '69,99 €', '19,99 €', '34,99 €', '7,99 €', '34,99 €', '24,99 €', '34,99 €', '9,99 €', '4,99 €', '29,99 €', '6,99 €', '14,99 €', '9,99 €', '14,99 €', '9,99 €', '6,99 €', '19,99 €', '7,99 €', '4,99 €', '3,99 €', '6,99 €', '3,99 €', '19,99 €', '6,99 €', '9,99 €', '29,99 €', '9,99 €', '7,99 €', '7,99 €', '14,99 €', '7,99 €', '7,99 €', '12,99 €', '6,99 €', '7,99 €', '14,99 €', '12,99 €', '14,99 €', '14,99 €', '12,99 €', '9,99 €', '9,99 €', '9,99 €', '9,99 €', '14,99 €', '7,99 €', '7,99 €', '2,99 €', '29,99 €', '7,99 €', '14,99 €', '34,99 €', '14,99 €', '14,99 €', '24,99 €', '14,99 €', '5,99 €', '44,99 €', '24,99 €', '17,99 €', '34,99 €', '9,99 €', '14,99 €', '7,99 €', '14,99 €', '29,99 €', '7,99 €', '29,99 €', '9,99 €', '9,99 €', '39,99 €', '17,99 €', '149,00 €', '19,99 €', '59,99 €', '9,99 €', '9,99 €', '9,99 €', '29,99 €', '7,99 €', '14,99 €', '17,99 €', '149,00 €', '14,99 €', '9,99 €', '5,99 €', '9,99 €', '12,99 €', '4,99 €', '14,99 €', '4,99 €', '12,99 €', '7,99 €', '19,99 €']

In [15]:
len(precio)

128

In [34]:
len(producto)

128

In [16]:
df = pd.DataFrame(precio,producto).reset_index()

In [17]:
df.head(2)

                          index        0
0       Bolso bandolera pequeño  14,99 €
1  Mochila con cordón de ajuste  49,99 €

In [18]:
renombrar = {"index": "Producto", 0:"Precio"}

In [19]:
df.rename(columns=renombrar, inplace=True)

In [20]:
df.head(2)

                       Producto   Precio
0       Bolso bandolera pequeño  14,99 €
1  Mochila con cordón de ajuste  49,99 €

In [21]:
df.Producto.unique()

array(['Bolso bandolera pequeño', 'Mochila con cordón de ajuste',
       'Gorra en neopreno y malla', 'Botas altas', 'Botas a la rodilla',
       'Botas', 'Botas con forro cálido', 'Botines con tacón piramidal',
       'Botas Chelsea de piel', 'Botas de piel con forro en borreguito',
       'Botas Chelsea', 'Zapatillas de casa cálidas',
       'Zapatillas de casa en pelo sintético', 'Paraguas transparente',
       'Bufanda de regalo', 'Pack de 2 guantes táctiles',
       'Bolso shopper guateado', 'Riñonera acolchada',
       'Salones destalonados con puntera fina',
       'Bolso bandolera guateado', 'Botas Chelsea gruesas',
       'Manoplas acolchadas', '25 pares de pendientes', 'Fular',
       'Botas Chelsea con plataforma', 'Bolso en pelo sintético',
       'Mocasines con suela gruesa', 'Bailarinas guateadas',
       'Botas de nailon con lazada', 'Gorro de punto',
       'Cuello alto de cachemira',
       'Bolso bandolera pequeño en pelo sintético',
       'Bufanda de tubo en canalé', 'Pack de 5 anillos',
       'Mules trenzados', '3 pares de pendientes de aro',
       'Pasamontañas de punto', 'Gorro de punto fino',
       'Pack 3 bandas de resistencia', 'Boina de punto', 'Collar corto',
       'Cuello en punto trenzado', 'Collar de dos vueltas con colgante',
       'Collar con anillo', '6 ear cuffs',
       'Guantes en mezcla de cachemira', 'Gorro y guantes',
       'Gorro en punto de canalé', '5 anillos',
       'Collar con signo del zodiaco', 'Funda para iPhone con correa',
       'Collar de dos vueltas', 'Gorra de deporte',
       'Cadena para la mano y anillos', 'Bufanda con flecos',
       'Diadema trenzada', 'Cinta para el pelo', 'Pendientes de aro',
       'Bolso hobo', 'Sombrero bucket', 'Gorro en canalé de cachemira',
       'Mochila', 'Conjunto de accesorios para funda de móvil',
       'Botines de plataforma', 'Cuello alto en punto trenzado',
       'Capucha de borreguito', 'Boina', 'Gorro polar THERMOLITE®',
       'Fleece gloves', 'Manoplas de piel y borreguito',
       'Collar de tres vueltas', 'Guantes largos de piel',
       'Bolso de velour', 'Bufanda de cachemira',
       'Accesorio para el pelo con strass', 'Mules de piel',
       'Pinza para el pelo', 'Pack de 4 pinzas para el pelo',
       'Capucha reflectante', 'Cinta de pelo en borreguito',
       'Bolsa para botella con correa', 'Cinturón guateado',
       '6 pares de pendientes de aro',
       'Gorro en punto fino con aplicación', 'Cinta de pelo Beauty',
       'Sombrero bucket con cordón', '3 pairs hoop earrings',
       'Sombrero bucket de velour'], dtype=object)

In [22]:
import re
df["Categorias"] = df["Producto"].apply(fc.limpiar)

In [23]:
df.head()

                       Producto   Precio        Categorias
0       Bolso bandolera pequeño  14,99 €             Bolso
1  Mochila con cordón de ajuste  49,99 €           Mochila
2     Gorra en neopreno y malla   9,99 €  Otros Accesorios
3                   Botas altas  59,99 €             Botas
4            Botas a la rodilla  59,99 €             Botas

In [24]:
df.Categorias.value_counts()

Otros Accesorios      43
Botas                 16
Gorro                 15
Bolso                  8
Pendientes             7
Accesorios cabello     6
Anillos                5
Bufanda                5
Boina                  4
Guantes                4
Zapatillas             4
Sombrero               3
Mochila                2
Mules                  2
Botines                2
Bailarinas             1
Paraguas               1
Name: Categorias, dtype: int64

In [ ]:
#Por algun motivo no puedo llamar a esta segunda funcion desde mi .py

In [84]:
def convertir(i):
        return float(i.split(" ")[0].replace(",", "."))

In [85]:
df['Precio'] = df['Precio'].apply(convertir)

AttributeError: 'float' object has no attribute 'split'

In [86]:
df

                         Producto  Precio        Categorias
0         Bolso bandolera pequeño   14.99             Bolso
1    Mochila con cordón de ajuste   49.99           Mochila
2       Gorra en neopreno y malla    9.99  Otros Accesorios
3                     Botas altas   59.99             Botas
4              Botas a la rodilla   59.99             Botas
..                            ...     ...               ...
123    Sombrero bucket con cordón   14.99          Sombrero
124         3 pairs hoop earrings    4.99  Otros Accesorios
125     Sombrero bucket de velour   12.99          Sombrero
126             Pack de 5 anillos    7.99           Anillos
127      Cuello en punto trenzado   19.99  Otros Accesorios

[128 rows x 3 columns]

In [89]:
df.to_csv('../Data/Cleaning_ready.csv')